<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sister Cities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        .container {
            padding-top: 15px;
        }

        .invisible {
            display: none;
        }

        .checkbox label {
            margin-left: 5px;
        }

        .citymain {
            padding-top: 40px;
            margin-top: -40px;
        }
    </style>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    {% if data %}
        <div class="page-header">
            <h1>Sister Cities
                <small> is holding {{ data|length }} german cities and their sister cities</small>
            </h1>
            <p>The table contains all queried information from <a
                    href="https://de.wikipedia.org/wiki/Liste_der_Städte_in_Deutschland">de.wikipedia.org</a> pages and
                related datasets from <a href="https://wikidata.org">wikidata.org</a>.</p>
            <p>timestamp: {{ stats }}</p>
            <p>Captured information based on <a href="https://www.mediawiki.org/wiki/Help:Links#Internal_links">internal links</a> (de.wikipedia.org) and statements (wikidata.org)</p>
            <p></p>
            <p>For more information feel free to <a href="mail:fh@display.name">contact me</a></p>
        </div>

        {% for entry in data %}

            {% if entry['data_cities']|length == 0 and entry['intersection']|length == 0 and entry['miss_wikipedia']|length == 0 %}
                {% set datasetzero = True %}
            {% else %}
                {% set datasetzero = false %}
            {% endif %}
            {% if datasetzero == false and entry['data_cities']|length == 0 and entry['miss_wikipedia']|length == 0 and entry['intersection']|length != 0 %}
                {% set consensus = True %}
            {% else %}
                {% set consensus = False %}
            {% endif %}
            {% if datasetzero %}
                <div class="row citymain blankdatasets" id="{{ entry.qid }}" style='opacity: 0.5;'>
            {% elif consensus %}
                <div class="row citymain intersectiondatasets" id="{{ entry.qid }}">
            {% else %}
                <div class="row citymain" id="{{ entry.qid }}">
            {% endif %}
        <div class="col-sm-12">
            <p>
            <h3><a href="#{{ entry.qid }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                <a href="https://de.wikipedia.org/wiki/{{ entry.url }}">{{ entry.url }}</a>
                <small><a href="https://www.wikidata.org/wiki/{{ entry.qid }}">({{ entry.qid }})</a>
                </small>
            </h3>
            </p>
            {% if datasetzero %}
                <div class="row">
                    <div class="col-xs-9 col-sm-9">
                        <p>We could not parse any information from de.wikipedia.org or wikidata.org about this
                            Item.</p>
                        <p>There seems to be no sister city connection.</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-xs-3 col-sm-3">
                        <p>missing on <a
                                href="https://de.wikipedia.org/w/index.php?title={{ entry.url }}&oldid={{ entry.revision_id_wikipedia }}">de.wikipedia.org</a>
                        </p></p>
                        <ul>
                            {% for k,v in entry['data_cities'] %}
                                <li {% if entry['data_cities']|length > 0 %}
                                    class="bg-danger"
                                {% endif %}><a href="https://de.wikipedia.org/wiki/{{ v }}">{{ v }}</a>
                                    <small><a href="https://www.wikidata.org/wiki/{{ k }}">({{ k }})</a></small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-3 col-sm-3 {% if consensus %}bg-success{% endif %}">
                        <p>intersection</p>
                        <ul>
                            {% for k,v in entry['intersection'] %}
                                <li><a href="https://de.wikipedia.org/wiki/{{ v }}">{{ v }}</a>
                                    <small><a href="https://www.wikidata.org/wiki/{{ k }}">({{ k }})</a></small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <p>missing on <a href="https://www.wikidata.org/w/index.php?title={{ entry.id }}&oldid={{ entry.revision_id_wikidata }}">wikidata.org</a>
                        </p>
                        <ul>

                            {% for k,v in entry['miss_wikipedia'] %}
                                <li {% if entry['miss_wikipedia']|length > 0 %}
                                    class="bg-danger"
                                {% endif %}><a href="https://de.wikipedia.org/wiki/{{ v }}">{{ v }}</a>
                                    <small><a href="https://www.wikidata.org/wiki/{{ k }}">({{ k }})</a></small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        </div>
        {% endfor %}


    {% else %}
        <p>No Datasets callable, run parser</p>
    {% endif %}

    </div>
    <script>
        $('.removeblanks').click(function () {
            $('.blankdatasets').toggleClass("invisible");
            var n = $(".citymain:visible").length;
            $(".counter").text(n + " Items selected");
        });
        $('.removeintersections').click(function () {
            //$('.intersectiondatasets').fadeToggle("fast", "linear");
            $('.intersectiondatasets').toggleClass("invisible");
            var b = $(".citymain:visible").length;
            $(".counter").text(b + " Items selected");
        });
    </script>
</body>
</html>