<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CasS</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        {% if data %}

            <div class="page-header">
  <h1>Sister Cities <small>holding {{data|length}} cities in a strange table</small></h1>
</div>
        {% for entry in data %}
           <div class="row">
              <div class="col-sm-12">
               <p><h3><a href="https://de.wikipedia.org/wiki/{{entry.url}}">{{entry.url}}</a>
                <small><a href="https://www.wikidata.org/wiki/{{entry.qid}}">({{entry.qid}})</a>
                </small>
                </h3></p>
                <div class="row">
                  <div class="col-xs-3 col-sm-3">
                      <p>missing on wikipedia</p>
                  <ul>
                    {% for k,v in entry['data_cities'] %}
                            <li><a href="https://de.wikipedia.org/wiki/{{v}}">{{v}}</a>
                             <small><a href="https://www.wikidata.org/wiki/{{k}}">({{k}})</a></small>

                            </li>
                    {% endfor %}
                  </ul>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                  <p>intersection</p>
                  <ul>
                    {% for k,v in entry['intersection'] %}
                            <li><a href="https://de.wikipedia.org/wiki/{{v}}">{{v}}</a>
                             <small><a href="https://www.wikidata.org/wiki/{{k}}">({{k}})</a></small>
                            </li>
                     {% endfor %}
                  </ul>
                  </div>
                    <div class="col-xs-3 col-sm-3">
                        <p>missing on wikidata</p>
                    <ul>
                    {% for k,v in entry['miss_wikipedia'] %}
                            <li><a href="https://de.wikipedia.org/wiki/{{v}}">{{v}}</a>
                             <small><a href="https://www.wikidata.org/wiki/{{k}}">({{k}})</a></small>
                            </li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}


    {% else %}
      <p>No Datasets callable, run parser</p>
    {% endif %}

    </div>
</body>
</html>